<header class="house-hero-img-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <%= render 'carousel' %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1><%= @house.name %></h1>
                <p><%= @house.summary %></p>
            </div>
        </div>
    </div>
</header>
<section class="house-facts-section">
    <%= render 'house_details' %>
</section>
