/* Panel */
.panel {
  background: #FEFDFB;
}

/* Form */
.form-group {
  margin-bottom: 20px;
  position: relative;

  i {
    position: absolute;
    pointer-events: none;
    top: 15px;
    right: 15px;
    color: $gray;
  }

  .fa.fa-envelope {
    font-size: 80%;
  }
}

.form-control {
  height: 50px;
  box-shadow: none;

  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid $gray-dark;
  }
}

.hero-btn{
  background-color: $red;
  border: none;
  font-size: 20px;
  padding: 10px 40px;
  color: $white;
  border-radius: 2px;

  &:hover,
  &:focus,
  &:active {
    background-color: $red-light;
    outline: none;
    text-decoration: none;
    color: $white;
  }
}
.form-btn {
  width: 100%;
}

.form-footer {
  font-size: 70%;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid $gray;

  a {
    color: $default-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.check-box {
  font-size: 70%;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: left;
}


/* Image uploads section */

.preview {
  padding: 0;

  img {
    width: 100%;
  }
}


/* Upload btn */


.form-upload {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 5px 60px;

    input.upload-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    i {
      font-size: 150%;
    }
}
