// /* ================ Front-Page ================= */
/* Panel settings */
.front-page {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}
.house-box {
  margin-bottom: 35px;

  .panel-default {
    border-radius: 0;
    border: 0;
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }

  .panel-body {
  border: 0;
  background-color: #EBF7FF;
  }
}

/* House Details */
.house-img {
  padding: 0;
  position: relative;
  border: none;

    img { width: 100%; }

    .house-details {
      margin-bottom: 0px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px 20px;
      background-color: $default-light;

        li {
          color: $white;
          display: inline-block;
          font-size: 90%;
          margin-right: 20px;
        }
     }
  }


  /* House Name, Price, View */

  .house-name-price-view {
    margin-bottom: 0;

    li {
      display: inline-block;
      color: $default-light;
      font-size: 100%;
      margin-right: 20px;

      &:first-child {
        padding-right: 20px;
        border-right: 1px solid $default-light;
        font-weight: 500;
      }

      &:nth-child(2) {
        padding-right: 20px;
        border-right: 1px solid $default-light;
        font-size: 90%;
      }

      &:last-child i {
        color: $red;
      }
    }
  }
