// /* ================ Front-Page ================= */
/* Panel settings */

.front-page {
  background-color: #F4F4F4;
}
.house-box {
  margin-bottom: 35px;


  .panel-default {
    border-radius: 0;
    border: 0;
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }

  .panel-body {
  border: 0;
  }
}

/* House img */
 .house-img {
    padding: 0;
    position: relative;
    border: none;

    img { width: 100%; }

    ul {
      margin-bottom: 0px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px 20px;
      background-color: $red-transparent;

      li {
        color: $white;
        display: inline-block;

        &:first-child {
          font-weight: 700;
          border-right: 1px solid $white;
          padding-right: 10px;
        }

        &:nth-child(2) {
          font-weight: 500;
          font-size: 90%;
        }

        &:last-child {
          float: right;
          display: none;

          a {
            text-decoration: none;
            color: $white;
          }
        }
      }

    }
}

/* House-details */
.house-details {
  margin-bottom: 0px;

  li {
    display: inline-block;
    font-size: 90%;
    margin-right: 5px;
    font-weight: 500;

    &:nth-child(4) {
      border-right: 2px solid $gray;
      padding-right: 20px;
    }

    &:last-child a {
      text-decoration:none;
      color: $red-transparent;
    }
  }
}
