/* Global Settings */
* {
  padding: 0;
  margin: 0;
  color: $default-light;
}

body {
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-text-rendering: optimizeLegibility;
  background-color: $white;
}


/* .container-outside */
.container-outside {
  display: block;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}

section {
  padding: 75px 0;
}

h2 {
  margin-bottom: 30px;

  &:after {
    display: block;
    height: 1px;
    content: " ";
    width: 100px;
    margin: 30px auto;
    background-color: $gray;
  }
}

h1, h2, h3 {
  color: $default-color;
  font-weight: 400;
}

/* Columns-without-paddings */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* ul */

ul {
  list-style-type: none;
}
