/* Header Header Part */

header {
  overflow-x: hidden;
}

/* Typography */

h1 {
  font-size: 300%;
  color: $default-color;
  line-height: 70px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 400;

}

.hero-text:before {
  margin-top: 120px;
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 15px;
  width: 550px;
  background-color: $default-color;
}


/* Home button */

.hero-btn.home-btn {
  display: inline-block;
  margin-left: 30px;
}



/*============ Houses List General Settings ============*/

section.h2-home-page {
 margin-top: 50px;
 padding: 0px;
 background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('h2.png');


 h2 {
   color: $white;
   text-align: center;
   font-size: 180%;
 }

 .hero-btn{ display: none; }
}

section.home-page-showcase {
  overflow-x: hidden;
  padding: 50px 0;
  background-color: #f9fffe;
}



/* Fact box mobile*/

.house-img { position: relative; opacity: 0.9}

.fact-box-mobile {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    display: none;

    li {
      color: $white;
      display: inline-block;
      margin-left: 20px;
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 90%;
      text-align: center;
      font-weight: bold;
    }
}

.name-mobile { display: none; }

.price-mobile {
  display: none;
}


/* Fact Box Desktop, Ipad */
.fact-box-right {
  padding-top: 50px;
}
.fact-box-right h3 {
  padding-top: 20px;
  padding-left: 200px;
  display: inline-block;
  border-top: 15px solid $orange;
  position: relative;
  right: 50px;
  margin-bottom: 50px;
}

.house-details-desktop {
  list-style-type: none;
  background-color: $blue-light;
  display: inline-block;
  position: relative;
  left: 150px;
  padding: 30px 250px 30px 30px;

  li {
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    color: $white;
    font-size: 80%;
  }
}

/* Left details */

.house-details-desktop.right-side {
  padding: 30px 30px 30px 250px;
  position: relative;
  left: 75px;
  border-left: none;
}

.fact-box-left {
  padding-top: 50px;
}

.fact-box-left h3 {
  display: inline-block;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-right: 200px;
  border-top: 15px solid $orange;
  position: relative;
  left: 415px;
}


/* Seperator section */

section.seperator {
  padding: 30px;
  background-color: $default-color;

  h2 {
    color: $white;
  }

  .hero-btn {
    font-size: 90%;
  }
}
