/*===================== Header Header Part =================== */

header {
  overflow-x: hidden;
}

/* ===================Header h1 ===================*/

h1 {
  font-size: 300%;
  color: $default-color;
  line-height: 70px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 400;

}

.hero-text:before {
  margin-top: 120px;
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 15px;
  width: 550px;
  background-color: $default-color;
}


/* Home button */

.hero-btn.home-btn {
  display: inline-block;
  margin-left: 30px;
}



/*============  Request-calback-section ============*/

.request-calback-section {
   margin-top: 50px;
   padding: 0px;
   background-color: #8C7676;

 h2 {
   color: $white;
   text-align: center;
   font-size: 180%;
   font-weight: 400;
 }

 .hero-btn{ display: none; }
}
