/*===================== Header Header Part =================== */

header {
  overflow-x: hidden;
}

/* ===================Header h1 ===================*/

h1 {
  font-size: 300%;
  line-height: 70px;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 400;

}

.hero-text:before {
  margin-top: 120px;
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 15px;
  width: 550px;
  background-color: $default-color;
}


/* Home button */

.hero-btn.home-btn {
  display: inline-block;
  margin-left: 30px;
}



/*============  Request-calback-section ============*/

.request-calback-section {
   margin-top: 50px;
   padding: 0px;
   background-color: #34495e;

 h2 {
   color: $white;
   text-align: center;
   font-size: 180%;
   font-weight: 400;
 }

 .hero-btn{ display: none; }
}


/* ============== Realtor Section *================= */

.realtor-section {
  background-image: linear-gradient(rgba(15, 16, 33, .6), rgba(15, 16, 33, .6)), url('realtor-hero1.jpg');
  background-position: 35% 65%;
  background-size: cover;
  padding: 30px 0;
}

.realtor-img img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 2px solid $white;
    position: relative;
    left: 70px;
    top: 50px;
}

.realtor-details {
  h2 {
    color: $white;

    &:after {
      height: 1px;
      background-color: $white;
      margin-top: 15px;
    }
  }

  ul li {
    color: $white;
    font-weight: 500;
  }

  a.home-btn.hero-btn {
    margin-top: 10px;
    margin-left: 5px;
  }
}

/* ==============Notice Section  *================= */
.notice-section {
  padding: 30px;
  font-size: 70%;
  background-color: $blue-light;
}

/* ============== Footer  *================= */


footer {
  background-color: $asphalt;
  padding: 30px;

  .logo-footer img {
    height: 40px;
    width: auto;
  }

  p {
    margin-top: 10px;
    font-size: 70%;
    color: $gray-dark;
  }
  ul li {
    display: inline-block;
    font-size: 70%;
    margin-top: 10px;
    margin-left: 20px;

    a, a:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
}


.ali-details {
  &:before {
    content: " ";
    display: block;
    height: 1px;
    width: 200px;
    margin: 20px auto;
    background-color: $gray-dark;
  }


  i {
    color: $red;
    font-size: 80%;
  }

}


/* ============== Modal  *================= */

.modal-dialog {
  width: 30%;
  margin-top: 100px;
}
