/* Message Page */

/* Header part */
.message-header {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('message_hero.jpg');
  background-position: 45% 55%;
  background-size: cover;
  height: 400px;
  background-repeat: none;
  border-top: 1px solid $blue-light;

  .hero-box {
    position: relative;
    top: 170px;
  }

  h1 {
    border: none;
    margin-left: 0px;
    color: $white;
    padding-left: 0;
    margin-bottom: 20px;
  }

  p {
    color: $white;
  }
}

/* Message Section */
.message-form-section {
  padding: 30px 0;

  h2:after {
    margin: 20px 0;
    height: 2px;
    background-color: $red;
  }

  .map {
    width: 100%;
    height: 300px;
  }

  p {
    font-size: 80%;
    color: $red;
    font-weight: 500;
    float: right;
  }
}
