/* Navigation */
.top-nav {
  padding-top: 20px;
  height: 100px;
  position: relative;

}

.mobile-nav-icon {
    float: right;
    cursor: pointer;
    margin-top: 12px;
    display: none;
}

.mobile-nav-icon i {
  color: $default-color;
}

.logo img {
  width: auto;
  height: 60px;
}

 a.logo-sticky img {
  display: none;
}

.top-nav-links {
  list-style-type: none;

  li {
    display:  inline-block;
    margin-left: 35px;
    margin-top: 15px;
  }

  a {
    text-decoration:  none;
    color: $default-color;
    font-size: 75%;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

  }
}




/* Sticky Navigation */
.sticky {
  padding: 5px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	z-index: 9999;
  background-color: $default-sticky;

  .logo img {
    display: none;
  }

  a.logo-sticky img {
    display: block;
 }

 .top-nav-links a,
 .mobile-nav-icon i{
   color: $white;
 }


}
