
@media only screen and (max-width: 1199px){
  /* =======================Header ======================= */
  h1 {
    font-size: 230%;
    line-height: 50px;
  }
  .hero-text:before { width: 450px; }

  /* =======================Frontpage ======================= */

  .house-img {
    .house-details {
      li {
        margin-right: 10px;
        font-size: 80%;
      }
    }
  }

/* Realtor Section */

  .realtor-img img  {
    left: 40px;
  }

  /* ============== Modal  *================= */

  .modal-dialog {
    width: 35%;
  }
}

@media only screen and (max-width: 991px) {
  /* ======================= Top Navigation ======================= */

  .top-nav {
    height: 130px;
  }
  .logo img,
  .logo a,
  .top-nav-links {
    @include center-maker;
  }

  .top-nav-links li { margin-top: 10px; }

  /*  =======================Header ======================= */
  h1 { font-size: 180%; }
  .hero-text:before {
    margin-top: 30px;
    width: 350px;
  }

  .hero-btn.home-btn { padding: 10px 20px; font-size: 80%; }


  /* House details */

  .house-img {
    .house-details {
      padding: 5px;
      li {
        margin-right: 5px;
        font-size: 70%;
      }
    }
  }

  .house-name-price-view {
    li {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  /* Realtor Section */
    .realtor-img img  {
      height: 125px;
    }



    /*=========== House Show Page ==============*/

    .house-hero-img-header {

      h1 {
        border-left: 15px solid $red;
        padding: 70px 0 20px 40px;
        margin-top: -60px;
        margin-bottom: 20px;
        color: $default-light;
        font-size: 170%;
      }

      p {
        font-size: 75%;
      }
    }

    .house-facts-section {
      p {
        font-size: 75%;
      }
    }

    /* ============== Modal  *================= */

    .modal-dialog {
      width: 45%;
    }

}

@media only screen and (max-width: 767px) {
  /* ======================= Navigation  =======================*/



  .top-nav {
    padding-top: 10px;
    height: 70px;
  }
  .top-nav-links {
    display: none;
    float: left !important;
    text-align: left;
    clear: left;
    width: 100%;
    z-index: 9999;
    padding: 5px 0px;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: $default-sticky;
    vertical-align: top;

    a {
      color: $white;
    }
  }
  .logo img {
    float: left !important;
    height: 50px;
    clear: right;
  }
  .mobile-nav-icon {
    display: block;
  }


  /* Sticky Navigation */

  .sticky {
    padding: 5px;

    .top-nav-links {
      top: 50px;
      border-top: 1px solid $gray-dark;
      background-color: $asphalt;
    }

    a.logo-sticky img {
      margin-top: 0px;
    }

    .mobile-nav-icon {
      margin-top: 7px;
      margin-right: 10px;
    }
  }

  /* Mobile Navigation */

  .top-nav-links li {
    display: block;
  }

  /*  =======================Header ======================= */

  .hero-text:before { display: none; }

  /*  =======================Hero image ======================= */

  h1 {
    border-left: 15px solid $red;
    padding: 70px 0 20px 40px;
    margin-top: -60px;
    margin-bottom: 0px;
  }
  .hero-btn.home-btn {
    display: none;
    margin-bottom: 0px;

  }

/* ================ request-calback-section ====================*/
.request-calback-section {
    padding-bottom: 30px;

    .hero-btn {
      display: inline-block;
      font-size: 70%;
    }
    h2 {
      font-size: 150%;

      &:after {
        margin: 20px auto;
      }
    }

  }

  /* Houses Section */
  .house-name-price-view {
    text-align: center;
    li {
      font-size: 80%;
      text-align: center;
    }
  }

  /* Realtor Section */

    .realtor-img img  {
      height: 100px;
      left: 0;
      top: 0;
    }

    .realtor-details {

      h2:after {
        margin-top: 15px;
      }
      a.home-btn.hero-btn{
        display: inline-block;
        padding: 10 30px;
        margin-left: -10px;
      }

      ul {
        margin-top: -10px;
      }
    }

    /* Footer */

    footer {
      ul {
        margin-left: -15px;
      }
      ul li {
        margin-top: 0;
        margin-left: 15px;
      }
    }


    /* ============== Modal  *================= */

    .modal-dialog {
      width: 100%;
    }


    .message-form-section {
      h2 { font-size: 135%; }
    }

}

/*================ Container Outside =================*/
@media (min-width: 768px) {
  .container-outside {
    min-width: 750px;
    max-width: 850px; /* desired width */
  }
}
@media (min-width: 992px) {
  .container-outside {
    min-width: 970px;
    max-width: 1170px; /* desired width */
  }
}
@media (min-width: 1200px) {
  .container-outside {
    min-width: 1170px;
    max-width: 1270px; /* desired width */
  }
}
