
@media only screen and (max-width: 1199px){
  /* =======================Header ======================= */
  h1 {
    font-size: 230%;
    line-height: 50px;
  }
  .hero-text:before { width: 450px; }

  /* =======================Frontpage ======================= */

  .house-img {
    .house-details {
      li {
        margin-right: 10px;
        font-size: 80%;
      }
    }
  }

/* Realtor Section */

  .realtor-img img  {
    left: 40px;
  }
}

@media only screen and (max-width: 991px) {
  /* ======================= Top Navigation ======================= */
  .logo img,
  .logo a,
  .top-nav-links {
    @include center-maker;
  }

  .top-nav-links li { margin-top: 10px; }

  /*  =======================Header ======================= */
  h1 { font-size: 180%; }
  .hero-text:before {
    margin-top: 30px;
    width: 350px;
  }

  .hero-btn.home-btn { padding: 10px 20px; font-size: 80%; }


  /* House details */

  .house-img {
    .house-details {
      padding: 5px;
      li {
        margin-right: 5px;
        font-size: 70%;
      }
    }
  }

  .house-name-price-view {
    li {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  /* Realtor Section */
    .realtor-img img  {
      height: 125px;
    }



    /*=========== House Show Page ==============*/

    .house-hero-img-header {

      h1 {
        border-left: 15px solid $red;
        padding: 70px 0 20px 40px;
        margin-top: -60px;
        margin-bottom: 20px;
        color: $default-light;
      }

      p {
        font-size: 75%;
      }
    }

    .house-facts-section {
      p {
        font-size: 75%;
      }
    }

}

@media only screen and (max-width: 767px) {
  /* ======================= Navigation  =======================*/
  .top-nav { padding-bottom: 20px; }

  .top-nav-links { display: none; }

  .logo img {
    float: left !important;
    height: 50px;
  }
  .mobile-nav-icon { display: block; }

  /*  =======================Header ======================= */

  .hero-text:before { display: none; }

  /*  =======================Hero image ======================= */

  h1 {
    border-left: 15px solid $red;
    padding: 70px 0 20px 40px;
    margin-top: -60px;
    margin-bottom: 0px;
  }
  .hero-btn.home-btn {
    display: none;
    margin-bottom: 0px;

  }

/* ================ request-calback-section ====================*/
.request-calback-section {
    padding-bottom: 30px;

    .hero-btn {
      display: inline-block;
      font-size: 70%;
    }
    h2 {
      font-size: 150%;

      &:after {
        margin: 20px auto;
      }
    }

  }

  /* Houses Section */

  .house-name-price-view {
    text-align: center;
    li {
      font-size: 80%;
      text-align: center;
    }
  }

  /* Realtor Section */

    .realtor-img img  {
      height: 100px;
      left: 0;
      top: 0;
    }

    .realtor-details {

      h2:after {
        margin-top: 15px;
      }
      a.home-btn.hero-btn{
        display: inline-block;
        padding: 10 30px;
        margin-left: -10px;
      }

      ul {
        margin-top: -10px;
      }
    }

    /* Footer */

    footer {
      ul {
        margin-left: -15px;
      }
      ul li {
        margin-top: 0;
        margin-left: 15px;
      }
    }


    .carousel-control .glyphicon {
      position: relative;
      top: 50%;
    }
}

/*================ Container Outside =================*/
@media (min-width: 768px) {
  .container-outside {
    min-width: 750px;
    max-width: 850px; /* desired width */
  }
}
@media (min-width: 992px) {
  .container-outside {
    min-width: 970px;
    max-width: 1170px; /* desired width */
  }
}
@media (min-width: 1200px) {
  .container-outside {
    min-width: 1170px;
    max-width: 1270px; /* desired width */
  }
}
