
@media only screen and (max-width: 1199px){
  /* =======================Header ======================= */
  h1 {
    font-size: 230%;
    line-height: 50px;
  }
  .hero-text:before { width: 450px; }

  /* =======================showcase-section ======================= */

  .house-details-list.right{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .house-details-list.left  {
    margin-left: 15px;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
  }


}

@media only screen and (max-width: 991px) {
  /* ======================= Top Navigation ======================= */
  .logo img,
  .logo a,
  .top-nav-links {
    @include center-maker;
  }

  .top-nav-links li { margin-top: 10px; }

  /*  =======================Header ======================= */
  h1 { font-size: 180%; }
  .hero-text:before {
    margin-top: 30px;
    width: 350px;
  }

  .hero-btn.home-btn { padding: 10px 20px; font-size: 80%; }

  /* =============Home page houses, mobile settings ================= */

  .fact-box-mobile li {
    font-size: 70%;
    text-align: center;
    margin-left: 10px;
  }

  /* ======================= Showcase-section =======================*/

.fact-box {
  padding-top: 20px;

  li {
    font-size: 70%;
    line-height: 25px;
  }

  .house-details-list.left {
    width: 300px;
  }
}

}

@media only screen and (max-width: 767px) {
  /* ======================= Navigation  =======================*/
  .top-nav { padding-bottom: 20px; }

  .top-nav-links { display: none; }

  .logo img {
    float: left !important;
    height: 50px;
  }
  .mobile-nav-icon { display: block; }

  /*  =======================Header ======================= */

  .hero-text:before { display: none; }

  /*  =======================Hero image ======================= */

  h1 {
    border-left: 15px solid $red;
    padding: 70px 0 20px 40px;
    margin-top: -60px;
    margin-bottom: 0px;
  }
  .hero-btn.home-btn {
    display: none;
    margin-bottom: 0px;

  }

/* ================ request-calback-section ====================*/
.request-calback-section {
    padding-bottom: 30px;

    .hero-btn {
      display: inline-block;
      font-size: 70%;
    }
    h2 {
      font-size: 150%;

      &:after {
        margin: 20px auto;
      }
    }

  }

/*==================== showcase-section ====================*/
.showcase-section { padding: 30px 0; }

  /* Mobile settings */
  .fact-box-mobile {
    padding: 5px 0;
    display: block;

    li {
      font-size: 70%;
      text-align: center;
      margin-left: 10px;
    }
  }

  .name-mobile {
    display: block;

    &:after {
      content: " ";
      height: 1px;
      width: 60px;
      display: block;
      margin: 20px auto;
      background-color: $red;
    }
  }


  .price-mobile {
    margin-bottom: -5px;
    font-weight: bold;
  }


  .fact-box {
    display: none;
  }

}

/*================ Container Outside =================*/
@media (min-width: 768px) {
  .container-outside {
    min-width: 750px;
    max-width: 850px; /* desired width */
  }
}
@media (min-width: 992px) {
  .container-outside {
    min-width: 970px;
    max-width: 1170px; /* desired width */
  }
}
@media (min-width: 1200px) {
  .container-outside {
    min-width: 1170px;
    max-width: 1270px; /* desired width */
  }
}
