/* Colors */
$default-color: #0F1021;
$red: #ED5485;
$red-light: lighten($red, 5%);
$blue: #539DDB;
$white: #fff;
$gray: #E0E7E9;


/* Center maker  for floated elements */

@mixin center-maker {
  float: none !important;
  display: block;
  margin: 0 auto;
  text-align: center;
}
