/* Colors */
$asphalt-default: #34495e;
$asphalt-lighter: lighten($asphalt-default, 20%);
$asphalt-very-light: lighten($asphalt-default, 40%);
$default-color: #483A48;
$gray-default: #DCE0E0;
$red-default: #F03861;
$red-light: lighten($red-default, 5%);
$orange: #FF7E67;
$blue-light: #A2D5F2;
$white: #fff;


/* Center maker  for floated elements */

@mixin center-maker {
  float: none !important;
  display: block;
  margin: 0 auto;
  text-align: center;
}
