/* Colors */
$default-color: #0F1021;
$default-light: rgba(15, 16, 33, .7);
$asphalt: #34495e;
$red: #ED5485;
$red-light: lighten($red, 5%);
$white: #fff;
$gray: #E0E7E9;
$gray-dark: #a0a3a6;
$blue-light: #EBF7FF;


/* Center maker  for floated elements */

@mixin center-maker {
  float: none !important;
  display: block;
  margin: 0 auto;
  text-align: center;
}
