/* Navigation */

.top-nav {
  padding-top: 45px;
  padding-bottom: 50px;
  border: 1px solid red;
}

.logo {
  font-size: 150%;
  color: #c0392b;
  letter-spacing: 2px;
}
.top-nav-links {
  list-style-type: none;

  li {
    display:  inline-block;
    margin-left: 15px;
    padding-left: 30px;
    border-top: 12px solid #f4f4f4;
  }

  a {
    text-decoration:  none;
    color: #ABABAB;
    font-size: 75%;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
