<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-3">
                <figure class="logo-footer">
                    <%= image_tag 'logo-white.png' %>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>Copyright &copy;  2010-2017 LOA Properties, Inc. All rights reserved</p>
            </div>
            <div class="col-md-3 col-sm-3">
                <ul>
                    <li><%= link_to "Contact", "#" %></li>
                    <li><%= link_to "Calculator",'https://www.zillow.com/mortgage-calculator/' %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
