<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-md-4 col-sm-4 realtor-img">
                    <%= image_tag 'realtor.png' %>
                </div>
                <div class="col-md-8 col-sm-8 realtor-details">
                    <h2>Shianne Kurkina</h2>
                    <ul>
                        <li>Realtor, # 01964246</li>
                        <li>415-975-1207</li>
                    </ul>
                    <%= link_to "Contact Me", "#", class: "home-btn hero-btn realtor-btn", :"data-toggle" => "modal", :"data-target" => "#myModal"%>
                </div>
            </div>
        </div>
    </div>
</div>
