<header>
    <div class="container-outside">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <%= image_tag "hero2.jpg", class: "img-responsive" %>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="hero-text">
                    <h1>Sweetest<br> Homes<br> in Hayward</h1>
                </div>
            </div>
        </div>
    </div>
</header>
