<header>
    <div class="container-outside">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <%= image_tag "hero2.jpg", class: "img-responsive hero-img" %>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="hero-text">
                    <h1>Brand New<br> Homes<br> in Hayward</h1>
                </div>
                <%= link_to "Request a Callback", "#", class: "hero-btn home-btn" %>
            </div>
        </div>
    </div>
</header>
<section class="request-calback-section text-center">
    <div class="container">
        <h2>Homes Built For Your Family</h2>
        <%= link_to "Request a Callback", "#", class: "hero-btn" %>
    </div>
</section>
<section class="front-page">
    <%= render 'pages/front_page' %>
</section>
