<div>
    <h4>Message from <%= @message.name %></h4>
    <p><%= @message.content %></p>
</div>
<div>
    <p>-------------------------</p>
    <p>Best regards, <%= @message.name %></p>
    <p><%= @message.phone %></p>
    <p>Have a great day, sweaty</p>
</div>
